{% comment %}

   cloudinary product gallery: https://demo.cloudinary.com/product-gallery/?editor

    e.g. --> {% include cloudinary-gallerywidget.html gallerytag="hostel-rooms" %}
    
    Options:
    - "gallerytag" = cloudinary tag of gallery to create
    

{%- endcomment -%}

<script src="https://product-gallery.cloudinary.com/all.js" type="text/javascript"></script>  
<div id="{% if include.gallerytag %}{{ include.gallerytag }}{% endif %}" style="max-width:80%;margin:auto"></div>
<script type="text/javascript">const {% if include.gallerytag %}#{{ include.gallerytag }}{% endif %}= cloudinary.galleryWidget({ 
        "container": "{% if include.gallerytag %}#{{ include.gallerytag }}{% endif %}", 
        "cloudName": "dfjb9p5ri",
        "displayProps": {
                "mode": "expanded",
                "columns": 3},
        "mediaAssets": [{tag: "{% if include.gallerytag %}{{ include.gallerytag }}{% endif %}" }],
        "zoomProps": {"type": "popup","trigger": "click"}
        }); 
        {% if include.gallerytag %}#{{ include.gallerytag }}{% endif %}.render(); 
</script> 
